#titleContainer {
  border-bottom: 1px solid black;
}

#contentContainer {
  display: flex;
  justify-content: space-between;
}

#options {
  width: 200px;
  padding: 20px;
  border-right: 1px solid black;
}

#options button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#gradeContainer {
  flex: 3;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
